/* .container {
    display: flex;
} */

/* .box {
    width: 100px;
    height: 100px;
    color: #ffffff;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
    position: relative;
    top: -10px; 
}

.blue {
    background-color: blue;
}

.fixed {
    position: fixed;
    right: 10px;
    top: 10px;
} */

/* .container {
    width: 300px;
    height: 300px;
    background-color: #DDD;
    position: relative;
}

.inner-container {
    width: 200px;
    height: 200px;
    background-color: #888888;
}

.child {
    width: 100px;
    height: 100px;
    background-color: #0f517f;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    margin-left: -50px;
} */

/*Dropdown menu*/
/* body {
    font-family: Arial, Helvetica, sans-serif;
}
.menu {
    display: flex;
    list-style: none;
}
.menu li {
    padding: 8px 16px;
}

.menu li:hover {
    background-color: #EEE;
}

.has-submenu {
    position: relative;
}

.has-submenu:hover .submenu {
    display: block;
}

a {
    text-decoration: none;
    color: black;
}

.submenu {
    list-style: none;
    padding: 0;
    position: absolute;
    display: none;
    left: 0;
    top: 100%;
    background-color: #EEE;
} */

/*Float*/
/* .float-left {
    float: left;
    margin-right: 10px;
}

.float-right {
    float: right;
    margin-left: 10px;
} */

/* .menu {
    list-style: none;
    background-color: #EEE;
}

.menu li {
    float: left;
    padding: 8px 16px;
    background-color: #dddddd;
}

p {
    clear: both;
} */

/* .header {
    height: 100px;
}

.sidebar {
    float: left;
    width: 20%;
}

.main {
    margin-left: 20%;
}

.wrapper::after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}

.footer {
    height: 100px;
} */

/* a[target] {
    color: red;
}

input[type="text"] {
    border: 1px solid red;
} */


/* 2D transform + transition*/
/* .item {
    width: 100px;
    background-color: #DDD;
    height: 100px;
    transform: rotate(150deg);
} */

/* .button {
    text-decoration: none;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    background-color: #dddddd;
    padding: 8px 16px;
    transition: all 0.5s;
}

.button:hover {
    background-color: aquamarine;
    color: #ffffff;
}

.album-item {
    width: 200px;
    height: 200px;
    background-image: url('https://loremflickr.com/200/200');
    background-size: cover;
    background-position: center;
}

.album-item .overlay {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s;
}

.album-item .overlay img {
    transform: scale(0);
    transition: all 0.3s;
}

.album-item:hover .overlay {
    opacity: 1;
}

.album-item:hover .overlay img {
    transform: scale(1);
} */


/* .container {
    display: flex;
    flex-direction: row;
}

.item {
    padding: 50px;
    text-align: center;
    background-color: #DDD;
    border: 1px solid #888;
    flex-grow: 1;
} */
/* xuôi */
/* @media (min-width: 600px) {
    .container {
        flex-direction: row;
    }

    .item {
        flex-grow: 1;
    }
} */

/* ngược */
/* @media (max-width: 480px) {
    .container {
        flex-direction: column;
    }
} */




