/* .container {
    display: flex;
} */

/* .box {
    width: 100px;
    height: 100px;
    color: #ffffff;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
    position: relative;
    top: -10px; 
}

.blue {
    background-color: blue;
}

.fixed {
    position: fixed;
    right: 10px;
    top: 10px;
} */

/* .container {
    width: 300px;
    height: 300px;
    background-color: #DDD;
    position: relative;
}

.inner-container {
    width: 200px;
    height: 200px;
    background-color: #888888;
}

.child {
    width: 100px;
    height: 100px;
    background-color: #0f517f;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    margin-left: -50px;
} */

/*Dropdown menu*/
/* body {
    font-family: Arial, Helvetica, sans-serif;
}
.menu {
    display: flex;
    list-style: none;
}
.menu li {
    padding: 8px 16px;
}

.menu li:hover {
    background-color: #EEE;
}

.has-submenu {
    position: relative;
}

.has-submenu:hover .submenu {
    display: block;
}

a {
    text-decoration: none;
    color: black;
}

.submenu {
    list-style: none;
    padding: 0;
    position: absolute;
    display: none;
    left: 0;
    top: 100%;
    background-color: #EEE;
} */

/*Float*/
/* .float-left {
    float: left;
    margin-right: 10px;
}

.float-right {
    float: right;
    margin-left: 10px;
} */

/* .menu {
    list-style: none;
    background-color: #EEE;
}

.menu li {
    float: left;
    padding: 8px 16px;
    background-color: #dddddd;
}

p {
    clear: both;
} */

/* .header {
    height: 100px;
}

.sidebar {
    float: left;
    width: 20%;
}

.main {
    margin-left: 20%;
}

.wrapper::after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}

.footer {
    height: 100px;
} */

a[target] {
    color: red;
}

input[type="text"] {
    border: 1px solid red;
}